.header {
    margin-top: 10px;
}

a{
    color: #ce9a0c;
}

a:hover{
    color: #f90;
}
h2{
    color:#f90;
}

.nav-pills > li.active > a{
    color: #d6d0bf;
    background-color: #f90;
}

.panel-info{
    border-color:#f90;
    margin: 20px 0;
}

.panel-info > .panel-heading{
    color: white;
    background-color: #f90;
    border-color:#f90;
}
